<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]>
<html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "vendor/custom.modernizr" %>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/jquery.countdown.css">
  <script type="text/javascript" src="/assets/jquery.countdown.js"></script>

  <%= csrf_meta_tags %>
</head>

<body>


<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>Fancy Survey</h1>
    </li>
  </ul>
  <section class="top-bar-section mobile tabs">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Happy Testers", remote: true %></li>
      <li class="divider"></li>
      <li><%= link_to "Status", remote: true %></li>
      <li class="divider"></li>
      <li><%= link_to "Invite Friends", remote: true %></li>
      <li class="divider"></li>
      <li><%= link_to "Today's Survey", remote: true %></li>
    </ul>
  </section>
</nav>
<div class="row">
  <div class="large-6 columns"><h2>Getting your awesome prize is easy!</h2>
  <ol>
    <li>Sign up and complete a survey</li>
    <li>Tell us more about yourself</li>
    <li>Get an awesome prize!</li>
  </ol></div>
  <div class="large-6 columns panel">
      <h3>Time remaining to complete your tasks</h3>
      <span id="countdown" data-time="<%= session[:time] %>" ></span>
      <p>What did the typescript say? Feverishly, he searched over it, at which Dr Stone thereupon patted him on the arm
        and told him he could keep the typescript; Stone had Xeroxed it several times over.</p>

  </div>
</div>
<%= yield %>
 <div id='footer'><span class='copyright'>&copy; Copyright Fancy Survey 2013</span></div>

<%= javascript_include_tag "application" %>
</body>
</html>
